 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flight Booking Application</title>
    </head>
    <body>
        <div>
            <div>
                {% if user.is_authenticated %}
                <p>Hello {{user.first_name}}!!!</p>
                <p><a href="flight/search">Search Flights</a></p>
                <p><a href="flight/search">Book My Flight</a></p>
                <p><a href="flight/bookings">My Booking</a></p>
                <p><a href="logout">Logout</a></p>
                {% else %}
                <a href="signup">Sign Up</a>
                <a href="login">Login</a>
                {% endif %}
            </div>
        </div>

        <div>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    </body>
</html>